{% extends "base.html" %}

{% block content %}
<div class="card bg-error is-hidden">Complete all data</div>
<h3 class="title">Sign Up</h3>
<form class="card row">
    <input class="col-8" type="email" name="email" placeholder="Email" required>
    <input class="col-8" type="text" name="name" placeholder="Name" required>
    <input class="col-8" type="password" name="password" placeholder="Password" required>
    <footer>
        <button type="submit">Sign Up</button>
    </footer>
</form>
{% endblock %}

{% block script %}
<script>
    $( "form" ).submit(function( event ) {
        event.preventDefault();
        $.post("{{ url_for('auth.signup_post') }}",
            $(this).serialize(),
            function( data ) {
                window.location = "{{ url_for("main.login") }}";
            }).fail(function(){
                $(".bg-error").removeClass("is-hidden")
            });
    });
</script>
{% endblock %}
